<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finda">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

     <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/transperant" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
</manifest>
